{% extends 'base.html' %}
{% load static %}
{% block title %}User: {{ user_obj.get_full_name }}{% endblock %}
{% block content %}
    <h1>User</h1>
    <div class="card mb-3">
        <div class="card-body">
            <h1>Personal page: {{ user_obj.get_full_name|default:user_obj.username }}</h1>
            <h5 class="card-title">{{ user_obj.username }}</h5>
            <p class="card-text">{{ user_obj.first_name }} {{ user_obj.last_name }} - {{ user_obj.email }}</p>
            <a href="{% url 'accounts:edit_user' user_obj.pk %}" >Edit user</a>
        </div>
    </div>
    {% include 'partial/reviews_list.html' %}
{% endblock %}