{% extends 'base.html' %}
{% load static %}
{% block title %}{{ product.title }} details{% endblock %}
{% block menu %}
    {% include 'partial/base_menu.html' %}
    {% include 'partial/personal_menu.html' %}
{% endblock %}
{% block content %}
    <h1>Article</h1>
    <div class="card">
        <img src="{% if product.img %}{{ product.img.url }}{% else %}{% static 'images/tovar.png' %}{% endif %}" class="card-img-top w-50 mx-auto" alt="{{ product.title }}">
        <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text">{{ product.category }}</p>
        </div>
    </div>
{% endblock %}
