{% extends 'base.html' %}
{% load static %}
{% block title %}{{ product.title }} details{% endblock %}
{% block menu %}
    {% include 'partial/base_menu.html' %}
    {% include 'partial/personal_menu.html' %}
{% endblock %}
{% block content %}
    <h1>Article</h1>
    <div class="card mb-2">
        <img src="{% if product.img %}{{ product.img.url }}{% else %}{% static 'images/tovar.png' %}{% endif %}" class="card-img-top w-50 mx-auto" alt="{{ product.title }}">
        <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text">{{ product.category }}</p>
            <div class="rating-result">
                {% for star in stars %}
                    <span {% if product.avg_grade >= forloop.counter %}class="active"{% endif %}></span>
                {% endfor %}
            </div>
            <p class="card-text">Avg. grade: {{ product.avg_grade }}
            </p>
        </div>
    </div>
    {% include 'partial/reviews_list.html' %}
{% endblock %}
